@import "./assets/scss/colors.scss";

.App {
    background: linear-gradient(to right, rgba($primary, 0.9), rgba($primary, 0.9)), url(./assets/images/bg.jpg);
    background-size: cover;
    color: $white;
}
