@import "../../assets/scss/colors.scss";

.roleCard {
    padding: 25px 10px;
    border-radius: 5px;
    min-width: 320px;
    
    &.evil {
        background-color: $red;
    }
    &.good {
        background-color: $blue;
    }

    & > .role {
        text-transform: uppercase;
        font-weight: bold;
    }

    img {
        margin-bottom: 16px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 2.5;
        font-family: Indy Pimp;
    }
    
    strong {
        font-family: Badonk-a-donk;
    }
}