@import "../../assets/scss/colors.scss";

.roleCard {
    min-height: 100px !important;
    height: 100%;
    width: 100%;
    padding: 25px 10px;
    
    & > .role {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.xButton {
    position: absolute;
    right: 0;
    padding: 5px !important;
    margin: 5px !important;
    width: 25px !important;
    font-weight: bolder;
}

.evil {
    background-color: $red !important;
    h1 {
        color: black !important;
    }
}
.good {
    background-color: $blue !important;

    h1 {
        color: white !important;
    }
}

.cardback {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("../../assets/images/Cardback.svg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    &>.actions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 65%;
    }
}